/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* Setting root variables */
:root {
  --primary-color: #D9984A;
  --secondary-color: #BF843B;
  --accent1-color: #593F1E;
  --accent2-color: #0D0D0D;

  --heading-font: "Jersey 25";
  --paragraph-font: "Noto Serif Display", serif, sans-serif;

  --headline-color-on-white: #D1AE80;
  --headline-color-on-color: #D9984A;
  --paragraph-color-on-white: #D1AE80;
  --paragraph-color-on-color: #D9984A;
  --paragraph-background-color: #FFFFFF;
}

body {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  background-color: var(--accent2-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #BF9159;
  color: var(--headline-color-on-color);
  padding: 1em;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 22px;
}

nav a:hover {
  color: black;
  background-color: var(--headline-color-on-color);
}

main {
  padding: 20px;
}

h2 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5em;
}

h3 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.image-with-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 100%;
}

.faq-image {
  max-width: 44%;
  margin-right: 20px;
}

.image-caption {
  flex: 1;
}

.conclusion {
  text-align: center;
}

.conclusion p {
  max-width: 70%;
  margin: 0 auto;
}

.hero-section {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.askhere-image {
  width: 800px;
  height: 500px;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
}

.askhere-image img {
  width: 100%;
  height: auto;
  display: block;
}

.askhere-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 70px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.text-content h1 {
  margin: 0;
  font-size: 2.5em;
  font-family: var(--heading-font);
}

/* .text-content button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 30px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--paragraph-font);
}

.text-content button:hover {
  background-color: var(--secondary-color);
} */

.ask-here-button {
  background-color: var(--primary-color);
  color: black;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  font-family: var(--paragraph-font);
  transition: background-color 0.3s;
}

.ask-here-button:hover {
  background-color: var(--secondary-color);
}

footer {
  background-color: var(--accent1-color);
  color: var(--headline-color-on-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left p {
  margin: 0;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
}

.copyright {
  color: black;
}

footer {
  background-color: #BF9159;
  color: var(--headline-color-on-color);
  text-align: center;
  padding: 20px;
}

footer a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

.social {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.social a {
  margin: 0 10px;
}

.social img {
  width: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {

  .faq-content img.faq-image {
    float: none;
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
  }

  .image-with-text {
    flex-direction: column;
    align-items: center;
  }

  .image-caption {
    max-width: 100%;
    text-align: center;
  }

  .conclusion p {
    max-width: 100%;
    padding: 0 20px;
  }
}